{% extends 'main/base.html' %}
{% block title %}Clients Detail Page{% endblock %}
{% block content %}
<h3 class="mt-3">{{ client.full_name }}</h3><br />
<div class="card gap-3 mt-3">
    <ul>
        <li>Email: {{ client.email }}</li>
        <li>Contact: {{ client.contact }}</li>
        <li>Emergency Contact: {{ client.emergency_contact }}</li>
    </ul>
</div>

<div class="card gap-3 mt-3">
    <h5>Sessions</h5>
    {% for session in sessions %}
        <div class="container">
            <ul>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>
                                Session # {{ forloop.counter }}
                            </h4>
                        </div>
                        <div class="card-text">
                            Session Date: {{ session.session_date }}<br>
                            Session Time: {{ session.session_time }}
                            {% if session.transcripts %}
                                <h5>Transcript</h5>
                                {% for transcript in session.transcripts %}
                                    <p>Transript Text: {{ transcript.content }}</p>
                                {% endfor %}
                            {% else %}
                            <p>Transcripts not available.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    {% endfor %}
</div>



<a href="{% url 'new-client-session' %}" class="btn btn-primary">Add new client session</a>


{% endblock %}